* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  width: 1728px;
  padding: 40px 40px 0 40px;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  background: #2a9d8f;
  font-family: Playfair Display;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.26250001788139343px;
  text-align: left;
  color: #ffefef;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

div .box {
  background: #264653;
  padding: 40px;
}

/* section 1 */

/* section 2 */
.section-2 {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

/* sectiom 3 */
.section-3 {
  flex-direction: column-reverse;
}

/* section 4 */
.section-4 {
  justify-content: space-between;
}

/* section 5 */
.section-5 {
  flex-direction: column;
  align-items: center;
}
